# Data
dataset/

# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
*.egg

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# CommandCode
.commandcode/
